services:
  postgres:
    image: postgres:15-alpine
    container_name: job_board_db
    environment:
      POSTGRES_DB: job_board
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
